header{
    margin-left: 1rem;
    margin-top: .5rem;
}

.card{

    &--main{
        background-image: url(https://www.freepik.com/free-vector/blue-sky-with-shiny-clouds-background_6864892.htm#page=1&query=weather%20background&position=17);
    }
}