header {
    margin-left: 1rem;
    margin-top: .5rem;
}

header {
    color: #ddd;
}

body {
    background-image: url(./utility/backgr3.jpg);
}

.card {
    background-image: url();
    margin-top: 1.5rem;
    &--main {

        &--container {
            width: 80vw;
            color: #ddd;
            margin: 0 auto;
            text-align: center;
            border-radius: 10px 10px 0 0;
            background-image: url(./utility/backgr.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            &--left {

                &>div:nth-of-type(3),
                &>div:nth-of-type(4) {
                    display: inline-block;
                    margin-top: 1rem;
                }

                &>div:nth-of-type(3) {
                    padding-right: 1.5rem;
                    border-right: 2px solid #ddd;
                    margin-bottom: .5rem;
                }

                &>div:nth-of-type(4) {
                    padding-left: 1.5rem;
                }

                &--description {
                    font-size: 1rem;
                }

                &--temp {
                    font-size: 3rem;
                }
            }

            &--city {
                font-size: 2rem;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 0;
                    width: 100px;
                    height: 2px;
                    background-color: #ddd;
                }
            }
        }
    }

    &--details {

        align-items: center;
        margin: 0 auto;
        width: 80vw;
        background-color: #ddd;
        margin-bottom: 10vh;
        border-radius: 0 0 10px 10px;

        &--container {
            color: #9900FF;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bolder;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;


            &--time{
                font-size: 1.2rem;
                flex: 0 0 20%;
                font-family: cursive;
            }

            &--list {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                font-size: 1rem;
                justify-content: space-around;
                flex: 0 0 65%;
                border-left:4px solid ;

                &--icon{
                    font-size: 2rem;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}